*{
    font-family: 'Raleway';
    font-size: 22.4px;
    color: white;
}

body{
    background-color: hsl(229, 57%, 11%);
    background-image: url("/Fylo-FronedMentor-Challenge/assets/bg-desktop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: contain;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.floating-sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.shape{
    width: 325px;
    height: 200px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5%;
} 

.border-radius{
    border-top-right-radius: 35%; 
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-align-items{
    align-items: center;
}

.flex-justify-content{
    justify-content: center;
}

.shape1-containter{
    padding-left: 10%;
    gap: 40px;
    height: 100%;
}

.buttons-containter{
    gap:15px;
}

button{
    background-color: hsl(229, 57%, 11%);
    border: 0;
    border-radius: 25%;
    height: 40px;
    width: 40px;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

button:active
{
    background-color: hsl(228, 56%, 26%);
}